<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <% if (locals.msg) { %>
     <%= msg %>
    <% } %>
    <form method="post" action="/login">
        <label>Enter your Email Id</label>
        <input type="text" name="email" required>
        <label>Enter your Password</label>
        <input type="text" name="password" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>