<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .container {
        text-align: center;
        padding-top: 50px;
      }
      #btn {
        font-size: 20px;
        margin: 20px;
      }
      div {
        padding: 10px;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
  </head>
  <body class="container">
    <h1>Sign Up</h1>
    <% if (locals.msg) { %> <%= msg %> <% } %>
    <form method="post" action="/user/signup">
      <div>
        <label>Enter your Full Name</label>
        <input type="text" name="name" required />
      </div>
      <div>
        <label>Enter your Email Id</label>
        <input type="text" name="email" required />
      </div>
      <div>
        <label>Enter your Password</label>
        <input type="password" name="password" required />
      </div>
      <button type="submit" id="btn">Submit</button>
    </form>
    Already Registered?<a href="/user/login">Login</a>
  </body>
</html>
